<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to My Web API</h1>
    <p>This is the index page of my Web API project.</p>
    <img src="~/images/myimage.jpg" alt="My Image">
</body>
</html>