
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .image-frame {
            max-width: 100%;
            height: auto;
            border: 2px solid #ccc;
            padding: 10px;
            box-sizing: border-box;
        }

            .image-frame img {
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
            }


        .only screen and (max-width: 768px) {
            .image-frame

        {
            max-width: 90%;
        }
        }
    </style>
</head>
<body>
    <div class="image-frame">
        <img src="~/images/HomePage1.jpg" alt="FirstPage">
    </div>
</body>
</html>
